h1{
    color: darkgray;
    font-size: 20px;
    text-decoration: none;
    background-color: lightgoldenrodyellow;
    font-family: georgia serif;
    text-align: center;
}
p{
    color: slateblue;
    text-align: right;
    line-height: 30px;
    letter-spacing: 3px;
    column-count: 3;
    column-gap: 60px;
}
ul{
    /*border-width:4px;
    border-style: solid;
    border-color: crimson;
    border: 4px solid crimson; */
    border-bottom: 4px dotted crimson;
    border-left: 8px dashed crimson
}
li{
    list-style-type: none;
    /*text-shadow: 2px 2px lightgray */
    text-shadow: 2px 2px #e9e9e9
}
