h1{
    color: darkgray;
    font-size: 20px;
    text-decoration: none;
    background-color: lightgoldenrodyellow
    font-family: georgia serif;
    text-align: center;
}
p{
    color: slateblue
    text-align: right;
    line-height: 30px;
    letter-spacing: 3px;
    column-count: 3;
    column-gap: 60px;

}

