header{
    background-color: #F63232;
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}
.banner{
    position: relative;
    top: 200px;
}
.banner img{
    max-width: 100%;
}

.banner .welcome{
    background-color: #FEB614;
    color: white;
    position:absolute; 
    left: 0;
    top: 30%;
}

.banner h2 {
    font-size: 74px;
}

.banner h2 span{
    font-size: 1.3e''m;
}
nav{
    background-color: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 148px;

}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: #4B4B4B;
}
nav li a.join{
    color:  #F63232;
}

/* pseudo classes*/

nav li a:hover{
    text-decoration: underline;
}

.images li:hover{
    position: relative; 
    top: -4px;

}
form inpuy:focus{
    border: 4px dashed #4b4b4b;
    outline: none;
}
form input:valid{
    border: 4px solid #71d300;
}
article p::first-line{
    font-weight: bold;
    font-size: 1.2em;

}
section.join p::first-letter{
    font-size: 1.5em;
}
p::selection{
    background-color: red;
    color: white;
}
p::after{
    content: '...'
}

/*responsive styles*/

@media screen and (max-width: 960px){

    .banner .welcome h2{
       font-size:40px;
}