/*p.error{
    color: red;
}
p.success{
    color: green;
}
p.success.feedback{
    border: 1px dashed color: green;
}
#content{
    background-color: #ebebeb;
    padding: 20px 
}
div .error{
    color: red;
}
*/
/*a[href*="thenetninja"]{
    background-color: #3dd13d; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href$*=".com"]{
    color: white;
    background: red;
    border: 2px solid blue;
} */
div{
    color: lightcoral;
    border: 1px solid grey;
    margin: 40px;
    font-weight: bold;
}


